.header {
  height: 68px;
  background-color: #141414;
  margin: 0;
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
}

.mcflix {
  margin: 0;
  margin-right: 25px;
  color: #cf1a23e3;
  width: 92.5px;
  font-size: 25px;
}

.nav > ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav > ul > li {
  display: flex;
  justify-content: flex-end;
}

.nav > ul > li > a {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  color: #e5e5e5;
  padding: 0;
  padding-left: 15px;
  font-weight: 400;
  transition: color 0.4s ease-out;
  font-size: 12pt;
}

.home {
  color: #fff;
  font-weight: 600 !important;
}

.nav > ul > li > a:hover {
  color: #b3b3b3;
}

.header-right {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: flex-end;
}

.right-element {
  margin-right: 15px;
  font-size: 14px;
}

.searchSvg,
.bellSvg,
.profileImg {
  width: 30px; /* Set the width of the icons */
  height: 30px; /* Set the height of the icons */
  padding: 1px 6px;
}

.profileImg {
  padding: 0;
}

.profileImg > img {
  border-radius: 3px;
}

.caret > img {
  padding: 0;
  margin: 0;
  width: 20px; /* Set the width of the icons */
  height: 20px; /* Set the height of the icons */
  transform: translateX(8px) translateY(5px) rotateZ(-90deg);
  transition: all 0.1s linear;
}

.profile {
    display: flex;
}

.caret > img:hover {
  cursor: pointer;
  transform: translateY(5px) rotateZ(90deg) scale(1.1);
}

@media screen and (max-width: 1100px) {
    .nav > ul > li > a {
        font-size: 12px;
    }

    .mcflix {
        margin-right: 0px;
    }

    .right-element {
        margin-right: 0px;
    }
  }